@model FPTBook1.Models.Book;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/book_detail.css" />
    <title>Book details</title>
</head>
<body>
    <center>
    <h1 class="text-success">Buy @Model.Name</h1><br />
    </center><br />
    <div id="profile" class="column half">
         <img src="@Model.Image" width="250" height="350" /> <br />  
         <h2>@Model.Name</h2>
    </div>
    <div class="column last">
        
        <h3>Categories: @Model.Categories.Name</h3>

        <h3>Price: @Model.Price</h3><br />
     
         <a class="btn btn-danger" asp-action="Index" 
                   onclick="return confirm('Are you sure you want to buy this Book ?');">
                   Buy This Book</a>
</body>
</html>